textarea{
    resize: none;
}

.timePickers{
    display: flex;
    width: 300px;
}

.textarea{
    width: 300px;
}

.timePickers mat-form-field{
    width: 75px;
    margin: 10px;
}

button, .mat-icon{
    outline: none;
    cursor: pointer;
}