<mat-icon aria-hidden="false" class="float-right" aria-label="Close" (click)="onNoClick()">close</mat-icon>

<h1 mat-dialog-title class="text-left">Publish new Post!!</h1>
<hr>
<div mat-dialog-content class="text-center">
    <form #f="ngForm" id="ngForm">
        <div class="form-group">
            <mat-form-field class="example-full-width textarea">
                <textarea matInput name="Text" cols="40" rows="5" 
                    placeholder="Text" [(ngModel)]="data.text" >
                </textarea>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-checkbox color="primary" name="postNow"
                [(ngModel)]="data.postNow">
                <span>Post now</span>
            </mat-checkbox>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput name="date" [disabled]="data.postNow" [matDatepicker]="picker" 
                    placeholder="Choose a date" [(ngModel)]="data.date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>    
        </div>
        <div class="form-group timePickers mx-auto">
            <mat-form-field>
                <mat-label>Hour</mat-label>
                <mat-select [disabled]="data.postNow" [(value)]="data.hour">
                    <mat-option *ngFor="let hour of hours" [value]="hour">
                    {{hour}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Minutes</mat-label>
                <mat-select [disabled]="data.postNow" [(value)]="data.minute">
                    <mat-option *ngFor="let minute of minutes" [value]="minute">
                    {{minute}}
                    </mat-option>
                </mat-select>
            </mat-form-field>   
            <mat-form-field>
                <mat-select [disabled]="data.postNow" [(value)]="data.format">
                    <mat-option *ngFor="let format of formats" [value]="format">
                    {{format}}
                    </mat-option>
                </mat-select>
            </mat-form-field>  
        </div>
    </form>
</div>
<hr>
<div class="text-right">
    <button type="submit" form="ngForm" mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
</div>
