<div class="row">
  
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let kpiItem of KPIList">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center">
                <i class="{{kpiItem.iconClass}}"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">{{kpiItem.cardTitle}}</p>
                <p class="card-title">{{kpiItem.cardNumbers}}
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="{{kpiItem.footerIconClass}}"></i> {{kpiItem.footerText}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h5 class="card-title">Users Behavior</h5>
              <p class="card-category">24 Hours performance</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <app-pie-chart></app-pie-chart>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card ">
            <div class="card-header ">
              <h5 class="card-title">Email Statistics</h5>
              <p class="card-category">Last Campaign Performance</p>
            </div>
            <div class="card-body ">
              <canvas id="chartEmail"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <mat-tab-group>
        <mat-tab label="Recent 10 Tweets">
          <div class="mx-4" *ngFor="let kpiItem of KPIList">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center">
                      <i class="{{kpiItem.iconClass}}"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">{{kpiItem.cardTitle}}</p>
                      <p class="card-title">{{kpiItem.cardNumbers}}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="{{kpiItem.footerIconClass}}"></i> {{kpiItem.footerText}}
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Recent 20 Mentions">
          <div class="mx-4" *ngFor="let kpiItem of KPIList">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center">
                      <i class="{{kpiItem.iconClass}}"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">{{kpiItem.cardTitle}}</p>
                      <p class="card-title">{{kpiItem.cardNumbers}}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-calendar"></i> Number of emails sent
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <app-word-cloud>
      </app-word-cloud>
    </div>
  </div>
  
  