<div class="card px-3 py-2">
  <div class="card-subHeader my-3">
    <h5> Word Cloud </h5>
    <div>
      <mat-form-field>
        <mat-label>For</mat-label>
        <mat-select [(ngModel)]="tabSelected">
          <mat-option *ngFor="let food of foods" [value]="food.value" (click)="toggle()">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <i class="fa fa-info-circle mt-3 ml-3" 
        matTooltip="A Word Cloud showing the frequency of words used in your Posts or the Comments that you have received on your posts."
        matTooltipPosition="above">
      </i>  
    </div>
  </div>
  <!-- <mat-radio-group color="primary" class="mx-auto mb-3" (click)="toggleTo()" aria-label="Select an option" name="tabSelected" [(ngModel)]="tabSelected">
    <mat-radio-button value="Posts" class="mx-2">For Posts</mat-radio-button>
    <mat-radio-button value="Comments" class="mx-2">For Comments</mat-radio-button>
  </mat-radio-group> -->

  <div id="cloud"></div>

</div>