
.profile-img{
    border-radius: 50%;
    background-size: cover;
    height: 40px;
    width: 40px;
}


.twitterActions{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}


.twitterActions .fa{
    font-size: 1.5em;
}

.sub-header{
    display: flex;
    justify-content: space-between;
}

.fa-pencil{
    font-size: 1.5em;
    cursor: pointer;
}

.mat-card-title{
    margin-bottom: 6px !important;
}

.small{
    font-size: 60%;
}